<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />

    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/theme.css" />
    <link rel="stylesheet" href="/css/home.css" />

  </head>

  <body class="bg-light-gray">
    <header class="bg-main padding-8 header">
      <section class="top-header">

        <div class="logo-and-search">
        <h1 class="width-50 logo">
          <img src="/images/logo-mercado-liebre.svg" alt="Mercado Liebre" />
        </h1>
        <form id="search-form" class="search-form ">
          <input type="search" name="search" id="search" class="search-input"/>
          <button type="submit" id="search-btn">
            <i class="fas fa-search"></i>
          </button>
        </form>
        </div>

        
        <p class="text-center buy-with-dues">
          <i class="fas fa-hand-holding-usd"></i>
          Comprá en cuotas y sin tarjeta de crédito
        </p>
      </section>
      <nav class="nav-bar">
        <ul class="subcontainer-nav-left">
          <li class="margin-left-10"><a href="">Ofertas</a></li>
          <li class="margin-left-10"><a href="">Tiendas Oficiales</a></li>
          <li class="margin-left-10"><a href="">Vender</a></li>
          <li class="margin-left-10"><a href="">Ayuda</a></li>
        </ul>

        <ul class="subcontainer-nav-right">
          <li class="margin-left-10">
            <a href="/register"
              >Creá tu cuenta <i class="far fa-id-card "></i
            ></a>
          </li>
          <li class="margin-left-10">
            <a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a>
          </li>
          <li class="margin-left-10">
            <a href="">Mis Compras <i class="fas fa-shopping-basket"></i></a>
          </li>
        </ul>
      </nav>
      <div class="burger-menu">
        <i class="fas fa-bars"></i>
      </div>
    </header>
    <main>
      <form action="/" method="get" class="margin-y-16 main-form">
        <label class="hidden" for="fullname">Nombre y apellido</label>
       
        <input
          class="input-box mg-bottom-40"
          type="text"
          name="username"
          id="username"
          placeholder="Nombre de usuari@"
        />

        <label class="hidden " for="password">Contraseña</label>
        <input
          class="input-box mg-bottom-40"
          type="password"
          name="password"
          id="password"
          placeholder="Contraseña"
        />

        <button class="button-primary send-button" type="submit">
          Ingresar
        </button>
      </form>
    </main>
    <footer></footer>
  </body>
</html>
